/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}


/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}


/* ====================================
setting
======================================= */

body {
  font-size: 14px;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

a {
  color: #ab7736;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

a:visited {
  color: #ab7736;
}

input,
select {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

button {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
}


/* ====================================
contents
======================================= */

header {
  max-width: 1920px;
  margin: 0 auto 40px;
  height: 850px;
  position: relative;
}

/* header .img-bg {
  width: 100%;
  max-width: 1920px;
  height: 850px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../kikkaimage/kikka_top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
} */

header .slide-img img{
    width:100%;
    height: 850px;
    object-fit: cover;
  }

header .copy01 {
  position: absolute;
  top: 190px;
  left: 45%;
  color: #fff;
  font-size: 2.8em;
  letter-spacing: 4px;
}

.copy01{
    color: #fff;
    text-shadow: 0 0 10px #000;
  }

header .logo-sub {
  width: 228px;
  height: 231px;
  position: absolute;
  top: 245px;
  left: 80%;
}

.logo{
  width: 250px;
  height: 100px;
}

.logo-sub img{
  width: 100%;
  height: 70%;
}

header .copy02 {
  color:white;
  font-size: 2.8em;
  letter-spacing: 4px;
  position: absolute;
  top: 66px;
  left: 90%;
  font-size: 1em;
  letter-spacing: 3px;
  overflow: hidden;
}

header .copy02 img,
header .copy02 p {
  float: left;
}

header .copy02 p {
  margin: 10px 3px 0 0;
}

#nav {
  width: 100%;
  height: 100px;
  margin: 0 auto 60px;
  background-color: #fff;
  overflow: hidden;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

#nav .inner-nav {
  width: 1000px;
  height: 58px;
  background-color: #fff;
  padding-top: 21px;
  padding-bottom: 21px;
  margin: 0 auto;
}

#nav .logo {
  float: left;
  padding-right: 254px;
  margin-right: 60px;
}

#nav .partation {
  width: 1px;
  height: 40px;
  background-color: #b2b2b2;
  display: inline-block;
  float: left;
  margin-right: 65px;
  margin-top: 10px;
}

#nav .list-nav {
  padding-top: 20px;
  overflow: hidden;
}

#nav .list-nav li {
  margin-right: 16px;
  display: inline-block;
  float: left;
  font-size: 1.2em;
}

.intro .box-leftImg,
.intro .box-rightImg {
  width: 1000px;
  margin: 0 auto 60px;
  overflow: hidden;
  transition: .8s;
}

.list-mv07 {
  opacity: 0;
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
}

.mv07 {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.intro .img {
  width: 340px;
}

.intro .box-leftImg .img {
  float: left;
}

.intro .box-rightImg .img {
  float: right;
}

.intro .box-leftImg .text {
  float: right;
}

.intro .box-rightImg .text {
  float: left;
}

.intro .text {
  width: 620px;
}

.intro .text .heading {
  font-size: 1.8em;
  font-weight: normal;
  display: block;
  margin-bottom: 16px;
}

.intro .text p {
  line-height: 1.8;
}

.intro .text .and {
  margin-top: 10px;
  display: block;
  cursor: pointer;
  color: #ab7736;
}

.intro .more {
  display: none;
  width: 940px;
  background-color: #f4f4f4;
  padding: 30px;
  margin: 20px auto 30px;
  overflow: hidden;
}

.intro .box-leftImg .more {
  margin-left: -380px;
}

.intro .more-inner {
  width: 50%;
  float: left;
  line-height: 1.9;
}

.intro .more h3 {
  font-size: 1.4em;
  font-weight: normal;
}

.intro .more ul+h3 {
  margin-top: 20px;
}

.intro .more ul {
  margin-left: 20px;
}

.intro .more ul li {
  margin: 10px 0 0 6px;
}

.photo {
  width: 1000px;
  margin: 0 auto 60px;
}

.photo img {
  width: 100%;
}

.photo .item.w1 {
  width: 125px;
}

.photo .item.w2 {
  width: 250px;
}

.photo .item.w3 {
  width: 375px;
}

.photo .item.w4 {
  width: 500px;
}

.photo .item.w5 {
  width: 625px;
}

.photo .item.h1 {
  height: 200px;
}

.photo .item.h2 {
  height: 400px;
}

.access {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}

.access .info {
  width: 400px;
  float: left;
}

.access .info h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.access .info p {
  line-height: 1.8;
}

#map {
  width: 600px;
  height: 320px;
  float: left;
}

.logo_footer img{
  width: 150px;
  margin: 10px;
  text-align: center;
  margin-top:30px; 
}

footer {
  text-align: center;
}

footer .menu {
  margin: 0 auto 30px;
  overflow: hidden;
  display: inline-block;
}

footer .menu li {
  float: left;
  margin-right: 20px;
  font-size: 1.2em;
}

footer .copy {
  margin-bottom: 30px;
}

.br{
  display: none;
}

@media screen and (max-width: 768px) {


  .br{
    display: block;
  }

  header {
    height: 360px;
    margin: 0;
  }

  /* header .img-bg {
    height: 360px;
    width: 100%;
    background: url(../../kikkaimage/kikka_top.jpg) 50% 0/cover no-repeat;
  } */

  header .slide-img img{
    width:100%;
    height: 360px;
    object-fit: cover;
  }

  header .copy01 {
  top: 38px;
  left: 39%;
  font-size: 1.5em;
  letter-spacing: 8px;
}

  header .logo-sub,
  header .copy02 {
    display: none;
  }



  #nav {
    display: none;
  }

  .intro {
    margin-top: 20px;
  }

  .intro .img {
    width: 90%;
  }

  .intro .box-leftImg .img,
  .intro .box-rightImg .img,
  .intro .box-leftImg .text,
  .intro .box-rightImg .text {
    float: none;
  }

  .intro .box-leftImg,
  .intro .box-rightImg {
    width: 100%;
    margin: 0 auto 30px;
    text-align: center;
  }

  .intro .text {
    width: 84%;
    margin: 10px auto 0;
    text-align: left;
  }

  .intro .text .heading {
    font-size: 1.6em;
    font-weight: normal;
    display: block;
    margin-bottom: 16px;
  }

  .intro .text p {
    line-height: 1.8;
  }

  .intro .more {
    width: 94%;
    padding: 20px;
    margin: 0 auto;
  }

  .intro .box-leftImg .more {
    margin: 10px auto 0;
  }

  .intro .more-inner {
    width: 100%;
    float: none;
    line-height: 1.9;
  }

  .intro .more-inner+.more-inner {
    margin-top: 10px;
  }

  .intro .more h3 {
    font-size: 1.2em;
  }

  .intro .more ul+h3 {
    margin-top: 20px;
  }

  .intro .more ul {
    margin-left: 10px;
  }

  .photo {
    width: 100%;
    margin: 0 auto 30px;
  }

  .photo img {
    width: 100%;
  }

  .photo .item.w1 {
    width: 100%;
  }
  .photo .item.w2 {
    width: 100%;
  }
  .photo .item.w3 {
    width: 100%;
  }
  .photo .item.w4 {
    width: 100%;
  }
  .photo .item.w5 {
    width: 100%;
  }
  .photo .item.h1 {
    height: 100%;
  }
  .photo .item.h2 {
    height: 100%;
  }

  .access {
    width: 94%;
    overflow: hidden;
    margin: 0 auto 30px;
  }

  .access .info {
    width: 100%;
    margin-bottom: 30px;
    float: none;
  }

  #map {
    width: 100%;
    float: none;
  }
}